.btn {
    color: white;
    background-color: #783FA0;
}

.btn:hover {
    color:  #783FA0;
    background-color: white;
}

div {
    background-color: #8258BC;
    align-self: center;
}

.btn {
    background-color:#783FA0;
    color: white;
    border: 1px solid #783FA0;
    padding: 10px 20px;
    font-size: 20px;
    font-family: montserrat;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

#description {
    font-weight: bold;
    background-color: white;
    font-family: montserrat;
    font-size: 20px;
    border: 15px black;
    border-style: solid;
    border-width: thin;
    border-color: purple;

}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper > * {
    padding: 20px;
}

.logo img {
    align-self: center;
    height: 75px;
    width: 100px;
    vertical-align: middle;
}
