html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: purple;
    padding-left: 30px;
    padding-right: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
.logo {
  display: inline-block;
}
*/
.nav-links {
    list-style: none;
    display: flex;
    font-size: 20px;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    background-color: white;
}

.nav-item:hover a {
    color: purple;
}

.logo img {
    height: 75px;
    width: 100px;
    vertical-align: middle;
}

form {
    font-size: larger;
    color: white;
    display: inline;
    justify-content: center;
}

.btn {
    color: white;
    background-color: #783FA0;
}

.btn:hover {
    color:  #783FA0;
    background-color: white;
}

.btn {
    background-color:#783FA0;
    color: white;
    border: 1px solid #783FA0;
    padding: 8px 15px;
    font-size: 20px;
    font-family: montserrat;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}